<!DOCTYPE html>
<html>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#first"><i class="fa fa-play"></i> MIXTAPES</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#second">Tapes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                    <li>
                      <%= link_to howto_path do %>How to add your Mixtape<% end %>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <%- if user_logged_in? %>
                   <li>
                     <a>Welcome <%= current_user.name.upcase %></a>
                   </li>
                   <li>
                     <%= link_to "Log Out", logout_path, data: { confirm: 'Are you sure?' } %>
                   </li>
                   <%- else %>
                   <li>
                     <%= link_to auth_path(provider: 'facebook') do %>Sign In<% end %>
                   </li>
                   <% end %>
                  <li>
                      <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
      <div class="header-content">
        <div class="inner">
            <h1 class="cursive">Jusixo presents Mixtapes</h1>
            <h4>A curated set of playlists to put music to your moods</h4>
            <hr>
            <a href="#second" class="btn btn-primary btn-xl page-scroll">MIXTAPES</a> &nbsp;
            <%= link_to playlists_path, class: 'btn btn-primary btn-xl page-scroll' do %>
              Your Playlists
            <% end %>
        </div>
      </div>
    </header>
    <section id="second" class="no-padding">
         <hr>
        <div class="container-fluid">
          <%= render 'playlists/playlists' %>
        </div>
    </section>

    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and I will get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form action="https://formspree.io/jusixo@gmail.com" method="POST" class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="email" name="_replyto" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="tel" name="telNo" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input type="email" name="text" style="height: 100px;" class="form-control" placeholder="Your message here..">
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="submit" value="Send" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="fa fa-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                      <li><%= link_to abouts_path, target: :_blank do %>Product Information<% end %></li>
                        <li><%= link_to abouts_path, target: :_blank do %>Other Products<% end %></li>
                        <li><%= link_to abouts_path, target: :_blank do %>Costomer Service<% end %></li>
                        <li><%= link_to abouts_path, target: :_blank do %>Developers<% end %></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                      <li><%= link_to abouts_path, target: :_blank do %>Contact Us<% end %></li>
                      <li><%= link_to abouts_path, target: :_blank do %>Services<% end %></li>
                      <li><%= link_to abouts_path, target: :_blank do %>Privacy Policy<% end %></li>
                      <li><%= link_to abouts_path, target: :_blank do %>Terms & Conditions<% end %></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 column">

                    <h4>Stay Posted</h4>
                    <form action="https://formspree.io/jusixo@gmail.com" method="POST">
                        <div class="form-group">
                          <input type="email" name="_replyto" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit" value="Send" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                        </div>
                    </form>

                </div>
                <div class="col-xs-1 col-sm-3 text-right">
                    <ul class="list-inline">
                      <br><br><br>
                      <li><a rel="nofollow" href="https://twitter.com/Jusixo" title="Twitter"><i class="icon-lg fa fa-twitter"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="https://www.linkedin.com/in/jusixo/" title="Facebook"><i class="icon-lg fa fa-linkedin"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="https://www.google.com/search?q=local+pizza+places&oq=local+pizza+pla&aqs=chrome.0.0j69i57j0l4.3756j0j1&sourceid=chrome&ie=UTF-8" title="pizza"><i class="icon-lg fa fa-pie-chart"></i></a></li>
                    </ul>
                </div>
            </div>
            <br/>
            <span class="pull-right text-muted small"><a href="">Mixtapes</a> <%= Time.now.year %></span>
        </div>
    </footer>

    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Mixtapes</h2>
        		<h5 class="text-center">
        		    a free collection of mixtapes curated by me.<br><br>
                This site requires you to have a spotify premium account in order to get the full appreciation<br><br>

        		</h5>
        		<p class="text-justify">
        		  This is just an excersize on some skills while also having a nice looking page to send
              friends to listen to some of my favorite mood music. Eventually i will have a fully functional site that friends of friends and beyond would like to use.
              Thank you for stopping by
        		</p>
        		<p class="text-center"><a href="https://twitter.com/Jusivxo">Contact me on twitter</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Thank You!</h2>
        		<p class="text-center" >We will be in touch as soon as possible</p>
        		<p class="text-center"><a href="https://jusixo.github.io/">Learn more about me at Jusixo.github.io</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="fa fa-times-circle-o"></i></button>
        	</div>
        </div>
        </div>
    </div>
  </body>
</html>
