<div class="page-header">
  <%= link_to new_playlist_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Playlist
  <% end %>
  <h1 Listing>Your Mixtapes</h1>
</div>

<%- @playlists.each do |playlist| %>
  <div class="container">

      <h1><%= image_tag(playlist.image_url(:large), class: "large") %></h1>

      <h4><%= playlist.embed_link %></h4>
        <%= link_to playlist do %>
          <span class="fa fa-check" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <%= link_to edit_playlist_path(playlist) do %>
          <span class="fa fa-pencil" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <%= link_to playlist, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="fa fa-remove" aria-hidden="true"></span>
        <% end %>
      </td>
  </div>
  <% end %>
